/* src/styles/Home.css */
@import './variables.css';

.home {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 50px 20px;
  /* font-family: Arial, sans-serif; */
  background-color: var(--background-dark);
  color: var(--text-primary);
}

.home h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

/* Estilizando a lista de decks */
.deck-list {
  display: flex;
  flex-flow: column nowrap;
  gap: 15px;
  /* justify-content: space-between; */
}

.home li {
  background-color: var(--dark-violet);
  /* border: 1px solid #ddd; */
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  /* transition: opacity .3s ease; */
}


/* Botão para ver o deck */
.deck-link:hover {
  text-decoration: underline;
}

/* Botão para criar um novo deck */
.btn {
  background-color: var(--dark-violet);
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 1rem;
  display: block;
  margin: 20px auto;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: .7;
}

.btn:not(:disabled):hover {
  opacity: .8;
}

.no-decks-message {
  text-align: center;
  font-size: 1.2rem;
  /* color: var(--black); */
  margin-top: 20px;
}

/* Button */

.deck-actions {
  display: flex;
  flex: row nowrap;
  gap: 5px;
}

.btn-salvar,
.btn-cancelar {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.btn-salvar {
  background: var(--ultra-violet);
  color: var(--white);
}

.btn-salvar:hover {
  background: var(--space-cadet);
}

.btn-cancelar {
  background: var(--columbia-blue);
  color: var(--black);
}

.btn-cancelar:hover {
  background: var(--space-cadet);
  color: var(--white);
}

/* Icones */


.icon-delete, .icon-edit {
  font-size: 22px;
  color: var(--text-primary);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.icon-delete:hover, .icon-edit:hover {
  transform: scale(1.1);
  /* color: darkred; */
}