/* Modal */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    /* display: flex; */
    /* flex-flow: column nowrap; */
    position: relative;
    background: var(--background-dark);
    padding: 30px 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
  }
  
  .modal h2 {
    margin-bottom: 15px;
    /* color: var(--ultra-violet); */
  }
  
  .modal input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--columbia-blue);
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .modal-close {
    position: absolute;
    order: -2;
    align-self: flex-end;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    font-size: 20px;
    cursor: pointer;
    color: var(--text-primary);
    opacity: .5;
    transition: opacity .2s ease;
  }
  
  .modal-close:hover {
    /* color: red; */
    opacity: .2;
  }
  
  .modal-button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: var(--dark-violet);
    cursor: pointer;
  }

  .modal-delete {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .modal-delete p {
    margin-bottom: 20px;
    font-size: 14px;
    max-width: 200px;
  }

  .modal--delete-button {
    background-color: red;
  }